:root {
	--fontSize: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body {
	background-color: black;
	font-size: var(--fontSize);
	color: white;
	margin: 0;
	padding: 0;
	font-family:"favorit";
}

#container {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	padding: 0 1em;
	width:100vw;
	height: 100vh;
}

#result-container {
	width: 100%;
	height: 80vh;
	border: none;
	overflow-y: scroll;
	overflow-x:hidden;
	padding: 0.5em;
	text-align: center;
	/* background:pink; */
}
#result-container::-webkit-scrollbar {
	display: none;
}
#result {
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 3em;
	line-height:1.1em;
	text-align: center;
	font-variant-ligatures: normal;
	
}

/*MENUS*/
.menus {
	display:flex;
	flex-flow: row nowrap;
	width:100%;
	/* height:1em; */
	position:fixed;
	bottom:.5em;
	left:0em;
	/* background:blue; */
}

.menu {
	background-color: white;
	font-size: .4em;
	color: black;
	cursor: pointer;

	margin: 0 .15em;
	height:100%;

	position:relative;
}

.fonts {
	min-width: 23.7%;
}

.features {
	min-width: 12.2%;
}

.modes {
	/* min-width: 5%; */
}

.menu button {
	font-size:1em;
	background-color: white;
	border: white 1px solid;
	outline: none;
	width:100%;
	padding: .5em;
	text-align: left;
	cursor: pointer;

	vertical-align: middle;
	line-height: 1;
}

.menu button:hover {
	background-color: #545454;
	color: white;
}

.menu.fonts button:after, .menu.features button:after {
	content: '\25B2';
	position:absolute;
	font-size: 1.5em;
	transform:translateY(-.25em);
	right:.25em;
}

.menu.fonts .active:after, .menu.features .active:after{
	content: "\25BC";
}

.menu.modes button {
	font-size: 1.5em;
	line-height:.333em;
}

.menuContent {
	width:100%;
	position:absolute;
	bottom:100%;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

.font {
	display: flex;
	flex-flow: row wrap;
}

.font .fontName {
	width: 65%;
}

.font .styles {
	padding-top:.5em;
	font-size:.5em;
	font-family: "favorit";
}

.font, .fontStyle {
	padding: .25em .25em;
	border: 1px #545454 solid;
}

.features .menuContent {
	display:none;
}

/* needs .menuContent specificity so that display:none; in .features .menuContent doesn't override it */
.menuContent.visible{
 	display:block;
}

/* SLIDER */
.slider-container {
	position: fixed;
	bottom: .5em;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	width: 28.3%;
	padding: .4em;
	/* background-color: pink; */
	z-index: 100;
}

/* label {
	text-orientation:sideways;
	margin-bottom: 10px;
} */

input[type=range]{
	position:relative;
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	background-color: white;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
		appearance: none;
		width: 2.8em;
		height: 2.8em;
		border-radius: 50%;
		background-color: white;
		cursor: pointer;
}

input[type=range]::before,
input[type=range]::after {
    content: '';
    position: absolute;
    height: 2.8em; /* Adjust the height of the vertical lines as needed */
    width: 2px;
	color:white;
    background-color: white;
  }

  input[type=range]::before {
    left: 0;
    top: -1.4em; /* Adjust the position of the top vertical line as needed */
  }

  input[type=range]::after {
    right: 0;
    top: -1.4em; /* Adjust the position of the top vertical line as needed */
  }

video {
	position:fixed;
	z-index:-1;
	top:0;
	left:0;
	/* background:blue; */

	min-width: 100vw;
	min-height: 100vh;
	display:none;
}

.vf_animation {
	animation: vf_animate 1s infinite ease-in-out;
	animation-iteration-count: 1;
}

@keyframes vf_animate {
	from {
		font-variation-settings: "wdth" 1000, "wght" 1000, "HGHT" 900;
	}
	to {
		font-variation-settings: "wdth" 0,
			"wght" 0,
			"HGHT" 0;
	}
}

#result.ligsDisabled {
	font-variant-ligatures: no-common-ligatures;
}